body {
    background-image: url("static/background.jpg");
}

#kopje {
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px 20px 5px;
    height: 120px;
    width: 400px;
    background-image: url("static/background.jpg");
    position: fixed;
    top: 3%;
    left: 50%;
    margin-left: -200px;
}

#kopje h1 {
    text-align: center;
    text-decoration: underline;
}

#logo {
    position: fixed;
    top: 3%;
    left: 5%;
}

#gitlogo {
    position: fixed;
    top: 3%;
    right: 5%;
}

#dom {
    background-image: url("static/background.jpg");
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px 20px 5px;
    position: fixed;
    top: 160px;
    left: 20px;
    padding-right: 1100px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#dom h1 {
    text-decoration: underline
}
#dom p {
    position: fixed;
    left: 250px;
    top: 230px;
}

#speelklok {
    background-image: url("static/background.jpg");
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px 20px 5px;
    position: fixed;
    top: 470px;
    left: 20px;
    padding-right: 1040px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#speelklok h1 {
    text-decoration: underline
}

#speelklok p {
    position:fixed;
    top: 545px;
    left: 292px
}

#huiswerk {
    background-image: url("static/background.jpg");
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px 20px 5px;
    position: fixed;
    top: 710px;
    left: 20px;
    padding-right: 900px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#huiswerk h1 {
    text-decoration: underline
}
#huiswerk p {
    position: fixed;
    top: 780px;
    left: 245px;
}

#goodzo3 {
    position: fixed;
    right: 90px;
    bottom: 40px;
}
