#vrijetijd {
    position: fixed;
    top: 20px;
    left: 20px;
}

#kopje {
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px 20px 5px;
    height: 120px;
    width: 300px;
    background-image: url("static/background.jpg");
    position: fixed;
    top: 3%;
    left: 40%;
    
}

#kopje h1 {
    text-align: center;
}

#logo {
    position: fixed;
    top: 3%;
    left: 5%;
}

#gitlogo {
    position: fixed;
    top: 3%;
    right: 5%;
}

#muziek {
    background-image: url("static/background.jpg");
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px 20px 5px;
    position: fixed;
    top: 160px;
    left: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
#muziek h1 {
    text-align: center;
}

#sport {
    background-image: url("static/background.jpg");
    margin: auto;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px 20px 5px;
    position: fixed;
    top: 160px;
    left: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 350px;
}
#sport h1 {
    text-align: center;
}

#geschiedenis {
    background-image: url("static/background.jpg");
    margin: auto;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px 20px 5px;
    position: fixed;
    top: 160px;
    left: 50%;
    padding-left: 75px;
    padding-right: 75px;
}
#geschiedenis h1 {
    text-align: center;
}

#games {
    background-image: url("static/background.jpg");
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px 20px 5px;
    position: fixed;
    top: 160px;
    left: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}
#games h1 {
    text-align: center;
}

#goodzo2 {
    position: fixed;
    top: 700px;
}


body {
    background-image: url("static/background.jpg")
}

h2 {
    position: fixed;
    bottom: 20px;
    left: 45%;
    
}
